<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/hl.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/test.js"></script> 
    <script src="/preview.js"></script>
    <script type="text/javascript">
	function start(){
	    hl()
	    setup()
	}
    </script>
</head>
<body onload="start()">
    <div id="searchbox">
	<form id="searchinput" action="/search" method="get">
	    <a id="home" href="/search">&lambda;</a>
	    <input id="search" name="query" type="text" placeholder="Search for..." />
	    <input type="submit" value="Search"/> 
	</form>
    </div>
    <div id="main">
	<div id="results">
	    <% if search %>
		<% for result in results %>
		    <div class="result"><code><%= result %></code></div>
		<% end %>
	    <% else %>
		<h1>Welcome to jassbot</h1>
		Jassbot is a JASS2 API search engine, which allows you to search
		the JASS2 standard API (common.j and Blizzard.j) by either function
		name, or by approximate type signature.

		<p id="example">
		Example searches:
		<br/>
		<a href="/search?query=TRVE">TRVE</a>
		<br/>
		<a href="/search?query=takes handle returns integer">takes handle returns integer</a>
		<br/>
		<a href="/search?query=Unit takes unit, integer integer real">Unit takes unit, integer integer real</a>
		<br/>
		<a href="/search?query=returns widget">returns widget</a>
		</p>

		This project is ofcourse heavily inspired by the great <a href="https://hoogle.haskell.org">Hoogle</a>.
		Its source code and data is free. You can find the command line interface for jassbot <a href="https://github.com/lep/jassbot">here</a>
		and the source for this webinterface <a href="https://github.com/lep/jassdoc-browser">here</a>.
		The data can be found <a href="https://github.com/lep/jassdoc">here</a>.
	    <% end %>
	</div>
    </div>
</body>
</html>
